@font-face {
  font-family: "Hind Siliguri";
  font-weight: normal;
  font-style: normal;
  src: url(../fonts/HindSiliguri-Regular.ttf);
}

@font-face {
  font-family: "Hind Siliguri";
  font-weight: bold;
  font-style: normal;
  src: url(../fonts/HindSiliguri-Bold.ttf);
}

@font-face {
  font-family: "Hind Siliguri";
  font-weight: 300;
  font-style: normal;
  src: url(../fonts/HindSiliguri-Light.ttf);
}

@font-face {
  font-family: "Hind Siliguri";
  font-weight: 500;
  font-style: normal;
  src: url(../fonts/HindSiliguri-Medium.ttf);
}

@font-face {
  font-family: "Hind Siliguri";
  font-weight: 600;
  font-style: normal;
  src: url(../fonts/HindSiliguri-SemiBold.ttf);
}
