body {
  font-family: "Hind Siliguri", Arial, Helvetica, sans-serif;
  color: $font-color;
}

h1 {
  font-size: 28px;
  line-height: 45px;
  font-weight: $semi-bold-weight;
}

h2 {
  font-size: 24px;
  line-height: 39px;
  font-weight: $semi-bold-weight;
}

h3 {
  font-size: 20px;
  line-height: 32px;
  font-weight: $medium-weight;
}

h4 {
  font-size: 17px;
  line-height: 28px;
  font-weight: normal;
}

h5 {
  font-size: 15px;
  line-height: 25px;
  font-weight: normal;
}
