.latest-posts {
  border-radius: 5px;

  &__title {
    display: block;
    margin-bottom: 30px;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 4px;
    line-height: 39px;
  }

  &__article {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    &-block {
      display: inline-block;
      padding: 4px 0 0 15px;
      color: #818181;
    }
  }

  &__image {
    @media screen and (max-width: $sm-width) {
      width: 50%;
    }
  }

  &__subtitle {
    margin-bottom: 20px;
    padding-right: 5px;
    font-weight: 500;
    line-height: 23px;
    color: $font-color;
  }
}

.article {
  &__comments {
    &--margin {
      margin-right: 0;
    }
  }
}

.button-wrapper {
  text-align: right;
}
