.welcome {
  height: 600px;
  background: url(../../img/home/bg-welcome.jpg) center no-repeat;

  @media screen and (max-width: $sm-width) {
    padding-left: 30px;
  }

  &__title {
    @extend .row;
    @extend .col-xl-5;

    margin-bottom: 22px;
    line-height: 37px;
  }

  &__text {
    @extend .row;
    @extend .col-xl-7;

    margin-bottom: 22px;
    line-height: 26px;
  }

  &__button {
    &--margin {
      margin-right: 22px;
    }
  }
}

.header {
  padding: 25px 0 100px;
}
